.firstview {
    background-color: #ffdd75;
    &__inner {
        @include display-flex(row, flex-end, center);

        &__logo {
            width: 50%;
            display: grid;
            place-items: center;

            img {
                margin-top: 76px;
                width: 80%;
            }
        }

        &__image {
            width: 50%;
        }
    }
}

@include mq(w-768) {
    .firstview {
        &__inner {
            @include display-flex(column, center, center);

            &__logo {
                width: 80%;
                display: grid;
                place-items: center;

                img {
                    margin-top: 80px;
                    margin-left: 50px;
                    width: 80%;
                }
            }

            &__image {
                width: 100%;
            }
        }
    }
}
