.page__why-sake {
    .why-sake__recommended_temperature {
        background-color: #efe6d4;
        padding-top: 100px;
        padding-bottom: 100px;
        &__title {
            margin-bottom: 30px;
            @include text(36px, 100%, 0, 500, $font-garamond, #333);
            text-align: center;
        }
        &__inner {
            @include display-1280;
            margin-top: 60px;
            @include display-flex(row, space-between, stretch);
            &__block {
                width: 48%;
            }
        }
    }
}
@include mq(w-768) {
    .page__why-sake {
        .why-sake__recommended_temperature {
            padding-top: 60px;
            padding-bottom: 60px;
            &__title {
                font-size: unquote('clamp(1.625rem, -0.5057rem + 9.0909vw, 1.9375rem)');
                line-height: 120%;
            }
            &__inner {
                @include display-100sp;
                margin-top: 40px;
                @include display-flex(column, center, center);
                row-gap: 20px;
                &__block {
                    width: 100%;
                }
            }
        }
    }
}
