.page__why-sake {
    .bg-yellow {
        background-color: $color-yellow;
    }
    .why-sake__detail {
        background-color: $color-light-brown;

        &__block {
            padding-top: 60px;
            padding-bottom: 60px;

            &:nth-child(2n) {
                background-color: $color-white;

                .why-sake__detail__block__image {
                    order: 1;
                }
            }
            &:nth-child(3n) {
                background-color: $color-yellow;
            }

            &__inner {
                @include display-flex(row, space-between, center);
                @include display-1280;
            }

            &__image {
                width: 48.3%;
            }

            &__content {
                width: 48.3%;

                &__title {
                    margin-bottom: 30px;
                    @include text(36px, 100%, 0, 500, $font-garamond, $color-black);
                }

                &__detail {
                    @include text(18px, 150%, 0, 500, $font-poppins, $color-black);
                }
            }
        }
    }
}

@include mq(w-768) {
    .page__why-sake {
        .why-sake__detail {
            &__block {
                &:nth-child(2n) {
                    .why-sake__detail__block__image {
                        order: 0;
                    }
                }

                &__inner {
                    @include display-flex(column, center, center);
                    @include display-100sp;
                }

                &__image {
                    width: 100%;
                    margin-bottom: 30px;
                }

                &__content {
                    width: 100%;

                    &__title {
                        font-size: unquote('clamp(1.625rem, -0.5057rem + 9.0909vw, 1.9375rem)');
                        line-height: 120%;
                    }
                    &__detail {
                        font-size: unquote('clamp(1rem, 0.1477rem + 3.6364vw, 1.125rem)');
                    }
                }
            }
        }
    }
}
