.page__why-sake {
    .why-sake__detail {
        background-color: $color-light-brown;



        &__block {
            padding-top: 60px;
            padding-bottom: 60px;

            &:nth-child(2n) {
                background-color: $color-white;

                .why-sake__detail__block__image {
                    order: 1;
                }
            }

            &__inner {
                @include display-flex(row, space-between, center);
                @include display-1280;
            }

            &__image {
                width: 48.3%;
            }

            &__content {
                width: 48.3%;

                &__title {
                    margin-bottom: 30px;
                    @include text(36px, 100%, 0, 500, $font-garamond, $color-black);
                }

                &__detail {
                    @include text(18px, 150%, 0, 500, $font-poppins, $color-black);
                }
            }
        }
    }
}

@include mq(w-768) {
    .page__why-sake {
        .why-sake__detail {

            &__block {

                &:nth-child(2n) {

                    .why-sake__detail__block__image {
                        order: 0;
                    }
                }

                &__inner {
                    @include display-flex(column, center, center);
                    @include display-100sp;
                }

                &__image {
                    width: 100%;
                    margin-bottom: 30px;
                }

                &__content {
                    width: 100%;

                    &__title {
                        line-height: 120%
                    }
                }
            }
        }
    }

}
